body {
	overflow-x:auto;
	margin:0;
	padding:0;
	background-color: #FFFFFF;
}

h2 {
	font-family: Verdana;
	font-weight: bold;
	margin-left:30px;
	padding-top: 25px;
	padding-bottom: 25px;
	color: #FFFFFF;
}

#navbar {
	/*Add your CSS here!*/
	float:right;
	margin-right:0px;
	position:fixed;
}

#header {
	background-color: #00CCFF;
	margin-top:-20px;
	padding:0;
        height:100px;
        position: fixed;
}
ul{
	list-style-type: none;
	position: fixed;
	float:right;
}

li {
	/*Add your CSS here!*/
	display:block;
	padding:5px 5px 5px 5px;
	font-family: Futura, Tahoma, sans-serif;
	color: #ffffff;
	background-color: #50CEFF;

}
#left{
	margin:auto;
	float:left;
	width:80%;
}
